<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>
    

    <header>
        <h1>
            <img src="{{ url_for('static', filename='img/imgLivro.png') }}" alt="Ícone de Livro" class="icone">
            Perfil do Usuário
        </h1>
    </header>

    <a href="{{ url_for('homepage') }}" class="botaoVoltar">Voltar</a>

    <main class="container">
        
        <aside class="left-sidebar">
            <div class="divPerfil">
                <img src="{{ url_for('static', filename='img/imgPerfil.png') }}" alt="Foto de Perfil" class="fotoPerfil">
                <div class="divInfo">
                    <h2>{{name}}</h2>
                    <p>{{email}}</p>
                    <button class="botaoLogout">Sair</button>
                </div>
            </div>
        </aside>

        {% for resenha in resenhas %}
        <section class="feed">
            <article class="resenha">
                <h3>{{ resenha.titulo }}</h3>
                <p><strong>Livro:</strong> {{ resenha.nomeLivro }}</p>
                <p><strong>Gênero:</strong> {{ resenha.genero }}</p>
                <p><strong>Nota:</strong> {{ resenha.nota }}</p>
                <p>{{ resenha.desc }}</p>
            </article>
        </section>
        {% endfor %}

        
    </main>
</body>
</html>